#main-slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 36px;
  flex-wrap: wrap;
}

.main-product-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 420px;
  color: #1c2635;
  margin-top: -4vh;
  gap: 2vw;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  background-color: #ffffff;
  border-radius: 8px;
  height: 420px;
  color: #1c2635;
  position: relative;
}

.item-image {
  width: 100%;
  max-width: 350px;
  height: 345px;
  object-fit: contain;
  border-radius: 8px;
}

.product-card h5 {
  font-family: "Grange", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 26.4px;
  text-align: center;
  margin: 0;
}

.product-card p {
  font-family: "Grange", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 19.8px;
  text-align: center;
}

.favorite-icon {
  position: absolute;
  width: 20px;
  height: 18.35px;
  color: #1d69dc;
  top: 10px;
  right: 10px;
  z-index: 1111;
}

.title {
  display: flex;
}

.title-desc {
  background-color: #eef7fb;
}

#title-desc-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

#title-desc-inner-container h5 {
  font-family: "Grange", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 26.4px;
  text-align: center;
  margin: 0;
}

#title-desc-inner-container p {
  font-family: "Proxima Nova", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.change-page-button {
  width: 60.06px;
  height: 60.06px;
  border: none;
  text-align: center;
  border-radius: 30px;
  background-color: #eef7fb;
  font-size: large;
}

.hide-button {
  display: none;
}

#dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  height: 9px;
  width: 9px;
  background-color: #e3e3e3;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.active {
  height: 9px;
  width: 9px;
  background-color: #5bc1ed;
  border-radius: 50%;
  margin: 32px 0px;
}

@media (max-width: 1000px) {
  .main-product-card {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    height: fit-content;
  }

  .item-image {
    height: 300px;
  }

  #title-desc-container {
    height: 300px;
  }
}